/* Normalize */
html,body{
    margin:0;
    padding:0;
    font-size:100%;
    height:100%;
    max-width:100%;
    overflow-x:hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}
ul,li,ol{
    list-style:none;
    margin:0;
    padding:0;
    -webkit-margin-before:0;
    -webkit-margin-start:0;
    -webkit-margin-after:0;
    -webkit-margin-end:0;
    -webkit-padding-start:0;
}
a img{
    border:0;
}