/*=======*\
Colour variables
\*=======*/
$primary-color: #1F7187;
$active-color:#FBB040;
$body-color:#414042;
$background-color: #EFEBE4;


$menu-background: #ABD0DD;
$menu-font: #87A3AA;
$menu-active: #1F7187;
$menu-icon: #fff;

$badge:#BCBEC0;
$default-border: #CEC5B2;

$font-stack:    Helvetica, sans-serif;
$font-size-base: 12px;
$font-size-h1: 20px;
$font-size-h2: 14px;
$font-size-h3: 12px;

$header-min-height:85px;


$mssg-colors: (error red,info #1F7187, success green);
@mixin mssg-colors {
	@each $type in $mssg-colors {
		&.#{nth($type, 1)} {
	    	background-color: #{nth($type, 2)};
	    	color: #eee;
	    }
	}
}